body{
  background-color: #267352;
  font-family: sans-serif;
  font-size: 1.2rem;
}

h1{
  text-transform: uppercase;
  color: white;
  text-shadow: black 5px 5px;
}


p.intro{
  background-color: white;
  border-radius: 30px;
  border:solid black 10px;
  padding: 20px;
  margin-left:25%;
  margin-right: 25%;
}

p.estilo-1{
  color: white;
  background-color: #AC5A39;
  border: solid #802400 20px;
  margin-right: 50%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px;
}

p.estilo-2{
  color: white;
  background-color:#AC7A39;
  border: solid #804800 20px;
  margin-left: 50%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px;
}


p.estilo-3{
  color: white;
  background-color: #004680;
  border:dashed #3978AC 5px;
  padding: 20px;
  margin-left:25%;
  margin-right: 25%;
}